/* CSS FOR HOMEPAGE */
body {
    
    font-family: 'roboto', sans-serif;
}

.navbar {
    opacity: 0.8;
}

.navbar img {
    height: 50px;
}

#home-section {
    background: #fff;
    color: #000;
    background: url(./img/bg-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    max-height: 1000px;

}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .path1 {
    margin-top: 515px;
    /* margin-left: -950px; */
}

.path3 {
    /* margin-left: -950px; */
}

#home-section .path2 {
    padding-top: -500px;
  
}

.header-info {
    border: 0px solid #333;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;

    
}

.header-info .button-header {
    background-color: #4d4b86;
    color: #fff;
    border: 1px solid #fff;
}

.navIcon {
    color: #4d4b86;
}


ul li a{
    border: px solid #fff;
    border-radius: 10px;
    color: #000;
}



.navColor{
    color: #4d4b86;
    /* color: #fff; */

}

/* MAIN SECTION */
/* .bg-image {
    width: 660px;
} */

.main-row {
margin-top: -120px;
position: relative;
z-index: -1;
}

.right-col {
    padding: 280px;
    background: url(./img/who-we-are.png);background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    
}

.main-section {
    background-color: #eeeeee; 
    position: relative;
    z-index: 1;
    
}

.left-col {
    padding-top: 150px;
}

/* MAIN SECTION - SECOND INNER */

.second-inner {
    background: url(./img/Path\ 7.png);background-repeat: no-repeat;
    /* padding: 430px; */
    margin-top: 50px;
    /* margin-left: -50px; */
}

/* WHO WE ARE */
.who-header {
    margin-bottom: -5px;
}

.who-text {
    margin-top: -15px;
}

.grey-text {
    color: #aaaaaa;
    
}

/* WHAT WE DO */
.what-we-do {
    margin-bottom: -10px;
}


.card {
    margin-top: 250px auto;
    margin: 50px;
    padding: 50px;
}

main{
    margin-bottom: 30px;
}

/* ANNICK FAMILY */
.amnick-fam {
    margin-top: 30px;
}
/* SUBSCRIPTION */
.subscribe {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: #5b557f;
}

.social-ex {
    margin-bottom: -11px;
}

/* FOOTER SECTION */
#main-footer {
    margin-top: 50px;
}
.footer a {
    color: #fff;
    
}

/************************* CSS FOR SERVICES PAGE ***************************/

.services-body {
    padding: 0;
    margin: 0;
}
.jumbo {
    background: url(./img/services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    color: #5f5dda;;
    margin-bottom: -10px;
    /* filter: brightness(50%); */
}

.jumbo-text {
    padding-top: 100px;
    color: #fff;
    /* filter: brightness(100%); */
}

#main-services-section {
    background: #eee;
}

/* Styling text */

.web-hd, .ux-hd, .cm-hd {
    margin-bottom: 15px;
}

/* .ux-hd {
    margin-bottom: 15px;
}

.cm-hd {
    margin-bottom: 15px;
} */

.web-left{
    margin-top: 50px;
}

.ux-right {
    margin-top: 50px;
}

.content-left {
    margin-top: 50px;
}

/* Styling Images */

.web-right {
    background: url(/img/web-development.jpg); background-repeat: no-repeat;
    padding: 200px;
    background-position: center;
    background-size: 100% 100%;
}

.ui-left{
    background: url(/img/ui-design.jpg); background-repeat: no-repeat;
    padding: 220px;
    margin-top: 5px;
    background-position: center;
    background-size: 100% 100%;
}

.content-right{
    background: url(/img/content-management.jpg);background-repeat: no-repeat;
    padding: 200px;
    margin-top: 10px;
    background-position: center;
    background-size: 100% 100%;
}

/* Styling services footer */
#services-main-footer{
    margin-top: -30px;
}


/*********************************** ABOUT SECTION *************************************/

/* #about-section {
    background: #fff;
    color: #000;
    background: url(./img/bg-home.png);
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-attachment: fixed; */
    /* min-height: 800px;
} */

.about-jumbo {
    background: url(./img/about-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    color: #5f5dda;
    margin-bottom: -10px;  
    /* filter: brightness(80%); */
}

.about-text {
    filter: brightness(100%);
    /* opacity: 0.8; */
}

.about-main-section{
    margin-top: 122px;
    background-color: #eeeeee;
    position: relative;
    z-index: -1;
   
} 

.about-container {
    color: #6E6BCC;
}

.main-section-pic {
    background: url(./img/Path\ 7.png); background-repeat: no-repeat;
    /* margin-left: 40px; */
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.mission-left  {
   
    /* padding: 80px; */
    margin-top: 50px;
    /* position: relative;
    z-index: 1; */
   
}

.goals-right {
    margin-top: 50px;
}

.mission-right{
    background: url(./img/about1.jpg); background-repeat: no-repeat;
    padding: 200px;
    background-position: center;
    margin-left: 30px;
    background-size: 100% 100%;

    /* padding-right: 50px; */
    
}

.goals-left{
    background: url(./img/about2.jpg); background-repeat: no-repeat;height: 100%; width: 100%;
    padding: 200px;
    background-position: center;
    margin-left: -10px;
    background-size: 100% 100%;

   
}

.grid1{
    background: url(/img/about3.jpg);background-repeat: no-repeat;
    padding: 130px;
    background-position: center;
    background-size: 100% 100%;


}
.grid2{
    background: url(/img/about4.jpg);background-repeat: no-repeat;
    padding: 130px;
    background-position: center;
    background-size: 100% 100%;


}
.grid3{
    background: url(/img/about5.jpg);background-repeat: no-repeat;
    padding: 130px;
    margin-left: -15px;
    background-position: center;
    background-size: 100% 100%;


}

/* Our Team */

.our-team {
    background: url(/img/Path\ 8.png);background-repeat: no-repeat;
    padding: 5px;
    background-size: 100% 100%;

    /* margin-left: -10px; */
}

.inner-team {
    margin-top: 30px;
}

.pic1{
    color: #6a689a;
    background: url(/img/face1.jpg);background-repeat: no-repeat; background-size: 400px;
    padding: 130px;
    /* text-align: center; */
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: 100% 100%;


    
}
.pic2{
    color: #6a689a;
    background: url(/img/face2.jpg);background-repeat: no-repeat; background-size: 400px;
    padding: 130px;
    /* text-align: center; */
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: 100% 100%;



}
.pic3{
    color: #6a689a;
    background: url(/img/face3.jpg);background-repeat: no-repeat; background-size: 400px;
    padding: 130px;
    /* text-align: center; */
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: 100% 100%;



}

.pic4{
    color: #6a689a;;
    background: url(/img/face4.jpg);background-repeat: no-repeat; background-size: 400px;
    padding: 130px;
    /* text-align: center; */
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: 100% 100%;


}

/* .info{
    color: #6a689a;
} */

/****************************************** CONTACT ********************************************/
#contact-section {
    background: #fff;
    color: #000;
    background: url(/img/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}

.head-text {
    color: #6E6BCC;
}

.contact-container{
    color: #6E6BCC;
}

.contact-row {
    padding-top: 50px;
    /* padding-top: 100px; */
}

.form-right {
    /* background: #fff; */
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    /* opacity: 0.8; */
    /* transform: translate(-50%, -50%); */
}

.form-btn{
    background-color: #6E6BCC;
    padding: 10px;
    border-radius: 30px;
}
label {
    color: #6E6BCC;
}


/* @media (max-width: 576px) {
    body {
        background-color: red;
    }
} */